In [2]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
import random

In [3]:
file_name = 'loan.csv'

In [4]:
df= pd.read_csv('loan.csv', low_memory = False)

In [5]:
df = df.apply( lambda x: pd.to_numeric(x, errors='ignore') )

In [6]:
df.shape

(887379, 74)

In [9]:
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose',
       'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med',
       'mths_since_last_major_derog', 'policy_code', 'application_type',
       'annual_inc_joint', 'dti_joint', 'verification_status_joint',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
       'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc',
       'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl',
       'inq_last_12m'],
      dtype='object')

In [10]:
df.acc_now_delinq.unique

<bound method IndexOpsMixin.unique of 0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
5         0.0
6         0.0
7         0.0
8         0.0
9         0.0
10        0.0
11        0.0
12        0.0
13        0.0
14        0.0
15        0.0
16        0.0
17        0.0
18        0.0
19        0.0
20        0.0
21        0.0
22        0.0
23        0.0
24        0.0
25        0.0
26        0.0
27        0.0
28        0.0
29        0.0
         ...
887349    0.0
887350    0.0
887351    0.0
887352    0.0
887353    0.0
887354    0.0
887355    0.0
887356    0.0
887357    0.0
887358    0.0
887359    0.0
887360    0.0
887361    0.0
887362    0.0
887363    0.0
887364    0.0
887365    0.0
887366    0.0
887367    0.0
887368    0.0
887369    0.0
887370    0.0
887371    0.0
887372    0.0
887373    0.0
887374    0.0
887375    0.0
887376    0.0
887377    0.0
887378    0.0
Name: acc_now_delinq, dtype: float64>

In [11]:
df.funded_amnt.unique

<bound method IndexOpsMixin.unique of 0          5000.0
1          2500.0
2          2400.0
3         10000.0
4          3000.0
5          5000.0
6          7000.0
7          3000.0
8          5600.0
9          5375.0
10         6500.0
11        12000.0
12         9000.0
13         3000.0
14        10000.0
15         1000.0
16        10000.0
17         3600.0
18         6000.0
19         9200.0
20        20250.0
21        21000.0
22        10000.0
23        10000.0
24         6000.0
25        15000.0
26        15000.0
27         5000.0
28         4000.0
29         8500.0
           ...
887349    20000.0
887350    10300.0
887351     4200.0
887352    15000.0
887353    15000.0
887354     6000.0
887355    26950.0
887356    23000.0
887357    18700.0
887358    25000.0
887359    25000.0
887360    26500.0
887361    21000.0
887362     8000.0
887363    12000.0
887364    10775.0
887365     7000.0
887366     6225.0
887367    10000.0
887368    13150.0
887369     4000.0
887370     7500.0
887371    10850.0
887372    12000.0
887373    11575.0
887374    10000.0
887375    24000.0
887376    13000.0
887377    12000.0
887378    20000.0
Name: funded_amnt, dtype: float64>

In [12]:
df.annual_inc.unique

<bound method IndexOpsMixin.unique of 0          24000.00
1          30000.00
2          12252.00
3          49200.00
4          80000.00
5          36000.00
6          47004.00
7          48000.00
8          40000.00
9          15000.00
10         72000.00
11         75000.00
12         30000.00
13         15000.00
14        100000.00
15         28000.00
16         42000.00
17        110000.00
18         84000.00
19         77385.19
20         43370.00
21        105000.00
22         50000.00
23         50000.00
24         76000.00
25         92000.00
26         60000.00
27         50004.00
28        106000.00
29         25000.00
            ...
887349     72000.00
887350     93600.00
887351     48000.00
887352     70000.00
887353     57000.00
887354     90000.00
887355     54000.00
887356     50000.00
887357     52000.00
887358    103000.00
887359     55000.00
887360     92000.00
887361     65000.00
887362     50000.00
887363     40000.00
887364     54000.00
887365     57000.00
887366     27000.00
887367     75000.00
887368     30000.00
887369     50000.00
887370     40000.00
887371     32000.00
887372     63000.00
887373     25400.00
887374     31000.00
887375     79000.00
887376     35000.00
887377     64400.00
887378    100000.00
Name: annual_inc, dtype: float64>

In [15]:


tmp = pd.pivot_table(df,index=["addr_state"],
               values=["Annual_inc","funded_amnt"],
               aggfunc=np.sum)

col1 = tmp['Annual_inc']
col2 = tmp['funded_amnt']

tmp['addr_state'] = col1,col2

tmp

Empty DataFrame
Columns: []
Index: [AK, AL, AR, AZ, CA, CO, CT, DC, DE, FL, GA, HI, IA, ID, IL, IN, KS, KY, LA, MA, MD, ME, MI, MN, MO, MS, MT, NC, ND, NE, NH, NJ, NM, NV, NY, OH, OK, OR, PA, RI, SC, SD, TN, TX, UT, VA, VT, WA, WI, WV, WY]